<% @characters.each do |x| %>
<p><%= x.player_name %></p>
<p><%= x.campaign %></p>
<p><%= x.character_name %></p>
<p><%= x.character_class %></p>
<p><%= x.armor_class %></p>
<p><%= x.perception %></p>
<p><%= x.investigation %></p>
<p><%= x.insight %></p>
<p><%= x.spell_save_dc %></p>
<% end %>