<style>
  .bordered {
    width: 240px;
    height: 340px;
    padding: 20px;
    border: 10px groove grey;
  }
</style>

<center><% @characters.each do |x| %>
<div class="bordered">
<b><big><a href="/characters/<%= x.id %>"><%= x.character_name %></a></big></b>
<p><a href="/characters/<%= x.id %>/edit"><small>Edit Character</small></a></p>
<p><b>Player Name: </b><%= x.player_name %></p>
<p><b>Campaign: </b><%= x.campaign %></p>
<p><b>Character Class: </b><%= x.character_class %></p>
<p><b>Armor Class: </b><%= x.armor_class %></p>
<p><b>Passive Perception: </b><%= x.perception %></p>
<p><b>Passive Investigation: </b><%= x.investigation %></p>
<p><b>Passive Insight: </b><%= x.insight %></p>
<p><b>Spell Save DC: </b><%= x.spell_save_dc %></p></div>
<% end %></center>
<p></p>