<b>Player Name: </b><%= @characters.player_name %>
<p><b>Campaign: </b><%= @characters.campaign %></p>
<p><b>Character Name: </b><%= @characters.character_name %></p>
<p><b>Character Class: </b><%= @characters.character_class %></p>
<p><b>Armor Class: </b><%= @characters.armor_class %></p>
<p><b>Passive Perception: </b><%= @characters.perception %></p>
<p><b>Passive Investigation: </b><%= @characters.investigation %></p>
<p><b>Passive Insight: </b><%= @characters.insight %></p>
<p><b>Spell Save DC: </b><%= @characters.spell_save_dc %></p>
<form method="post" action="/characters/<%= @characters.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>