<b>Character Name: </b><%= @character.character_name %>
<p><b>Player Name: </b><%= @character.player_name %></p>
<p><b>Campaign: </b><%= @character.campaign %></p>
<p><b>Character Class: </b><%= @character.character_class %></p>
<p><b>Armor Class: </b><%= @character.armor_class %></p>
<p><b>Passive Perception: </b><%= @character.perception %></p>
<p><b>Passive Investigation: </b><%= @character.investigation %></p>
<p><b>Passive Insight: </b><%= @character.insight %></p>
<p><b>Spell Save DC: </b><%= @character.spell_save_dc %></p>
<form action="/characters/<%= @character.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Character</button>
</form>